<h2>{{title}}</h2>
<div class="container">
    <h3>Form</h3>

      <form #formData="ngForm" (ngSubmit)="onSubmit(formData.value)">
        <div class="form-group">
          <label for="class">Class</label>
          <input name="class" type="text" class="form-control" id="class" placeholder="class" ngModel>
        </div><br>

        <div class="form-group">
          <label for="name">Name</label>
          <input name="name" type="text" class="form-control" id="name" placeholder="name" ngModel>
        </div><br>

        <div class="form-group">
          <label for="type">Type</label>
          <input name="type" type="text" class="form-control" id="type" placeholder="type" ngModel>
        </div><br>

        <div class="form-group">
          <label for="icon">Icon</label>
          <input name="icon" type="text" class="form-control" id="icon" placeholder="icon" ngModel>
        </div><br>

        <div class="form-group">
          <label for="href">Href</label>
          <input name="href" type="text" class="form-control" id="href" placeholder="href" ngModel>
        </div><br>

        <button type=submit class="btn">Send data</button>
      </form>

</div><br>
<app-button [configButton]="inputForm" *ngIf="submitted"></app-button>
